<!-- Showing info of development team -->

<div class="cardContainer">
   

   <mat-card class="card">
      <mat-card-title>Sanmesh Yashwantrao</mat-card-title>
      <mat-card-subtitle>Stackroute</mat-card-subtitle>
      <img mat-card-image height="350px" src="../../assets/Sanmesh.jpeg">
      <mat-card-content><b>Developer</b><br>Wipro</mat-card-content>
   </mat-card>

   <mat-card class="card">
      <mat-card-title>Mayur Bote</mat-card-title>
      <mat-card-subtitle>Stackroute</mat-card-subtitle>
      <img mat-card-image height="350px" src="../../assets/Mayur.jpeg">
      <mat-card-content><b>Developer</b><br>Wipro</mat-card-content>
   </mat-card>

   <mat-card class="card">
      <mat-card-title>Ankit Gupta</mat-card-title>
      <mat-card-subtitle>Stackroute</mat-card-subtitle>
      <img mat-card-image height="350px" src="../../assets/Ankit.jpeg">
      <mat-card-content><b>Developer</b><br>Wipro</mat-card-content>
   </mat-card>

   <mat-card class="card">
      <mat-card-title>Cheena vasdev</mat-card-title>
      <mat-card-subtitle>Stackroute</mat-card-subtitle>
      <img mat-card-image height="350px" src="../../assets/Cheena.jpeg">
      <mat-card-content><b>Developer</b><br>Wipro</mat-card-content>
   </mat-card>

   <mat-card class="card">
      <mat-card-title>Ashish Panicker</mat-card-title>
      <mat-card-subtitle>Stackroute</mat-card-subtitle>
      <img mat-card-image height="350px" src="../../assets/Ashish.jfif">
      <mat-card-content><b>Mentor</b><br>Stackroute</mat-card-content>
   </mat-card>
</div>